body {
    background-color: rgb(191, 183, 219);
}

h1 {
    text-align: center;
}

header {
    background-color: blueviolet;
    border-radius: 5px;
    color:aliceblue
}

#main-div {
    text-align: center;
}

.hidden {
    display: none;
}