body {
    background-color: rgb(191, 183, 219);
}

h1 {
    text-align: center;
}

header {
    background-color: blueviolet;
    border-radius: 5px;
    color:aliceblue
}

#main-div {
    text-align: center;
}

.hidden {
    display: none;
}

#outcome {
    border-top: 1px solid black;
}

.answer {
    background-color: purple;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#timer-button {
    background-color: blueviolet;
    color: white;
    border-radius: 30px;
}

#timer-button:hover {
    transform: scale(1,1.5);
    cursor: pointer;
}

